<!DOCTYPE html>
<html>
    <head>
        <title>My Favorite Colleges</title>
		BOOTSTRAP
    </head>
    <body>
         <div class = "container">
        	<h1>Colleges I am interested in</h1>
		<p>
			Today, there are some 5,300 colleges and universities in the United States, everything from beauty schools to Harvard. Many people choose to go to college because you get to choose what you want to study, make your own class schedule, live somewhere other than home. College is wild, and fun, and worldly. You learn about other people's opinions and beliefs, meet interesting weirdos, learn from aged professors who have lifetimes of experience. That being said, here are some of my favorite colleges that I am interested in.
		</p>
		<br>
		<img src = "https://i.ytimg.com/vi/WI_8slDKSOU/maxresdefault.jpg" 
		width = "750px" height = "400px">
		<br>
		<h2>Villanova University</h2>
		<p>
		The only Augustinian Catholic university in the nation, Villanova values a personalized experience where teachers and students are partners in learning and scholarly inquiry. From undergraduate to doctoral students, Villanovans are intellectually inspired, morally grounded, globally minded. Villanova attracts and forges world changers—people who ignite positive change everywhere life takes them. During this unprecedented time of the COVID-19 pandemic, Villanova's Augustinian values of Veritas, Unitas, Caritas can be seen in our work towards the common good and our support for one another.
		</p>
		<br>
		<img src = "https://media.phillyvoice.com/media/images/081420_Villanova_COVID-19_protocol.2e16d0ba.fill-735x490.jpg"
		width = "370px" height = "220px">
		</div>
		<h2>Columbia University</h2>
		<p>
		Columbia University is a private institution that was founded in 1754. It has a total undergraduate enrollment of 6,245, its setting is urban, and the campus size is 36 acres. It utilizes a semester-based academic calendar. Columbia University's ranking in the 2021 edition of Best Colleges is National Universities, #3.
		</p>
		<br>
		<img src = "https://www.columbia.edu/content/sites/default/files/styles/cu_crop/public/content/Morningside%20Campus%20at%20Dusk%202.jpg?itok=SkwvzD5S"
		width = "370px" height = "220px">
		</div>
		<br>
		<a href = "explore.html" class = "btn btn-default btn-lg" role = "button">More Information</a>
		<br>
		</div>
	</body>
		
	
	
	
	
